.page-header {
    text-align: center;
    background-color: rgb(41, 68, 68);
    color: white;
    border-radius: 0;
    padding: .5rem;
}

#current {
    padding: 2rem;
}

.five-day {
    padding-top: 15px
}

#search-container{
    padding-top: 30px;
}

.daily {
    background-color: royalblue;
    color: white;
    border-radius: 15px;
}

.border-0 {
    padding: 5px;
}

.results {
    visibility: hidden;
}

.history {
    visibility: hidden;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.extreme {
    background-color: red;
}